# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.binlog

# Visual Studio
.vs/
Generated\ Files/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*.ilk
*.obj
*.iobj
*.pdb
*.ipdb
*.log
*.tmp
*.tmp_proj
*_wpftmp.csproj

# Visual Studio cache files
*.[Cc]ache
!?*.[Cc]ache/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Code coverage
*.dotCover
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains Rider
*.sln.iml
.idea/

# Local History
.localhistory/
.history/

# User files
~$*
*~
*.pfx
*.publishsettings

# App settings with secrets
appsettings.json
